@import "../components/postCard";
@import "../components//FollowsFollowers/followsFollowersModal";
@import "../components/showPostComments";

.main{
  margin: 0 auto;


  


.home-header {
    .create-post-container{      
        display: flex;
        flex-direction: column;
        align-items: center;      
        padding: 30px 20px 0 20px;

        background: $color-1;

        // border-right: 3px solid $color-4;
        border-bottom: 2px solid $color-4;

        .header {
            width: 100%;
            display: flex;
            justify-content: space-between;



            .left-part {
                width: 30%;
                display: flex;
                justify-content: space-around;

                .logout {
                    cursor: pointer;
                    width: 30px;
                    height: 30px;

                    img{
                        max-width: 100%;
                        max-width: 100%;
                    }
                }

                .user-picture {
                    width: 75px;

                    img{                       
                        width: 100px;
                        height: 100px;
                        object-fit: cover;
                        border-radius: 50%;
                    }
                }
            }
            .right-part {
                width: 30%;

                .following-follower-container {
                    display: flex;
                    flex-direction: column;
                    
                    p {
                        padding: 5px;
                        margin: 5px 0;
                        cursor: pointer;

                    }
                   
                }
            }
            
        }

        
            .post-form {
              width: 98%;
              margin-top: 20px;
              padding: 20px 0;
              border-top: 1px solid $color-4;
          
              textarea {
                min-height: 90px;
                width: 100%;
                font-size: 1.4rem;
                padding: 12px 15px;
                margin: 5px 0 20px 0;
                border-radius: 20px 20px 6px 20px;
                resize: none;
              }
              .post-preview {
                background: $white;
                border-radius: 20px 20px 6px 20px;
                padding: 20px 15px;
                

                .post-header {
                  display: flex;
                  width: 30%;       
                  justify-content: space-between;           
                  align-items: center;
                  margin-bottom: 20px;

                  img{
                    width: 75px;
                    height: 75px;
                    object-fit: cover;
                    border-radius: 50%;
                  }


                }

                .content {
                  display: flex;
                  flex-direction: column;
                  border-top: 1px solid $color-1;

                 
                  padding: 10px 0;
                  .content-message{
                    display: flex;
                    justify-content: center;
                    p {
                      width: 90%;
                      padding: 15px;
                      
                      max-height: 250px;
                      overflow-wrap: break-word;
                      
                    }
                  }
                  
                    .content-picture{
                      display: flex;
                      justify-content: center;

                      img {
                        
                        max-width: 250px;
                        max-height: 250px;
                      }
                    }
                    .content-video{
                      display: flex;
                      justify-content: center;
                      iframe{
                        max-width: 100%;
                        max-height: 100%;
                      }
                    }
                  
                }
          
              }
              .footer-form {
                display: flex;
                justify-content: space-between;
                align-items: center;
                margin: 20px auto;
                width: 95%;
          
                .icon {
                  cursor: pointer;
                  width: 30px;
                  height: 20px;
          
                  img {
                    position: absolute;
                    height: 24px;
                    width: 24px;
                  }
          
                  input {
                    width: 25px;
                    height: 25px;
                    opacity: 0;
                    cursor: pointer;
          
                    &::-webkit-file-upload-button {
                      cursor: pointer;
                    }
                  }
                }
                p {
                  font-family: $font-3;
                  margin-top: 4px;
                  color: red;
                }

                .btn-send {
                  width: 40%;
                  display: flex;
                  justify-content: end;

                  button{
                    width: 80px;
                    padding: 10px 5px;
                  }
                }
              }
            }
          }
          
    }

    .feed-container {
        ul {
            display: flex;
            flex-direction: column;
            gap: 10px;
            // width: 80%;
            padding-top: 20px;
            // border-right: 3px solid $color-4;
        }
        
       
    }
  }