 .profil{
    height: 100%;
     .profil-container {
         height: 100%;
         margin: 0 auto;

         .profil-header {
          padding: 30px 30px;
          width: 100%;
          border-bottom: 2px solid $color-3;

            .top-part {
                img {
                    width: 150px;
                    height: 150px;
                    object-fit: cover;
                    border-radius: 50%;
                }
                .profil-info {
                    display: flex;
                    width: 100%;
                    justify-content: space-between;
                    padding: 10px 0;
                        .data {
                            display: flex;
                            flex-direction: column;
                            justify-content: space-between;
                            width: 50%;
                        }
                }
            }
            .bottom-part {
                @media (min-width: 320px){
                    width: 70%;
                }
                @media (min-width: 425px){
                    width: 60%;
                }
                @media (min-width: 768px){
                    width: 50%;
                }
                @media (min-width: 992px){
                    width: 40%;
                }
                .selection {
                    display: flex;
                    justify-content: space-between;
                    a{
                        text-decoration: none;
                        color: black;
                        cursor: pointer;
                    }
                }
            }
         }
         .edit-profil {
          border-bottom: 2px solid $color-3;
          padding: 20px 0;
          .edit-profil-container {
                width: 80%;
                margin: 0 auto;
              .btn {                
                  img {
                      width: 25px;
                      height: auto;
                    }                
                }
                .pseudo, .bio {
                    display: flex;
                    justify-content: space-between;
                    width: 200px;
                    textarea {
                        resize: none;
                    }
                    
                }
                
            }
         }
         .profil-feed {
            width: 95%;
            margin: 0 auto;
         }
        }
    }
